body {
  font-family: 'Raleway', sans-serif;
  color:#4d4d4d;
}
div.wrapAll {
  position:relative;
  width:980px;
  margin:0px auto;
  background-image:url('../images/shadow.png');
}
div.branding {
  float:left;
}
div.branding img {
  margin-left:130px;
  margin-top:10px;
}
div.branding a.toggleMenu {
  display:none;
}
img.decker {
  position:absolute;
  z-index:100;
}
img.left {
  position:absolute;
  z-index:101;
  top:97px;
  left:20px;
}
img.right {
  position:absolute;
  z-index:102;
  top:97px;
  right:20px;
}

/* Suche */
div.search {
  width:300px;
  position:absolute;
  right:110px;
}
td.gsc-input {
  padding-right:0 !important;
}
div.gsc-input-box {
  border-left:1px solid #000;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  border-right:0;
}
input.gsc-search-button {
  background-color:#ffc66c !important;
  border-radius:0 !important;
  border-left:0 !important;
  border-color:#000;
  margin-left:0 !important;
  margin-top:3px !important;
}
/* Inhalt */
div.main {
  margin-left:109px;
  width:762px;
  overflow:hidden;
}
body.standard div.main {
  padding:60px;
  width:640px;
}
p, li, em {
  line-height:25px;
  font-size:13px;
}
ul {
  list-style-type:disc;
  list-style-position:outside;
  padding-left:20px;
}
p strong {
  font-weight:bold;
}
a {
  float:left;
  clear:both;
  display:inline-block;
  height:22px;
  color:#f15a24;
  text-decoration:none;
  font-size:13px;
}
p a {
  float:none;
}
a.link {
  background-image:url('../images/link.png');
  background-repeat:no-repeat;
  background-position:left;
  padding-left:30px;
  padding-top:4px;
  margin-bottom:10px;
}
h1 {
  text-transform:uppercase;
  font-size:20px;
  font-weight:lighter;
  margin-bottom:30px;
}
div.main div.p p {
  padding-top:20px;
}
div.main div.p p:first-child {
  padding-top:0;
}
div.brandbox-frame {
  overflow:hidden;
}
div.main li p {
  text-overflow:ellipsis;
  overflow: visible;
  white-space:pre-wrap;
}
/* Menü */
ol.main {
  float:left;
  margin-top:120px;
  margin-left:60px;
  margin-bottom:5px;
}
ol.main li {
  float:left;
  position:relative;
  margin-right:20px;
  padding-right:20px;
  background-image:url('../images/menuSeparator.png');
  background-repeat:no-repeat;
  background-position: right center;
}
ol.main li:last-child {
  background:none;
}
ol.main li a {
  font-size:13px;
  line-height:22px;
  text-decoration:none;
  color:#4d4d4d;
  text-transform:uppercase;
}
ol.main li.active a {
  font-weight:bold;
}
ol.main li:hover ol.sub {
  display:block;
}
ol.sub {
  position:absolute;
  left:-20px;
  top:20px;
  width:150px;
  padding-left:20px;
  padding-top:20px;
  background-color:white;
  z-index:1000;
  display:none;
}
ol.sub li {
  background-image:none;
  min-height:30px;
}
ol.sub li a {
  font-weight:normal !important;
}
ol.sub li a:hover {
  text-decoration:underline;
}
ol.sub li.active a {
  font-weight:bold !important;
}
ol.footer {
  position:absolute;
  top:28px;
  right:120px;
}
ol.footer li {
  float:left;
  margin-right:10px;
}
ol.footer li a {
  color:white;
  text-decoration:none;
  font-size:14px;
}
ol.socialMedia {
  position:absolute;
  left:150px;
  top:20px;
}
ol.socialMedia li {
  float:left;
  margin-right:10px;
}
/* Inhalt */
div.content {
  clear:both;
  margin-top:20px;
}

/* Formular */
input, input[type="text"] {
  width:246px;
}
textarea {
  width:244px;
  font-family: 'Raleway', sans-serif;
}
input[type="submit"] {
  width:250px;
  margin-top:10px;
}

/* Footer */
div.footer {
  position:relative;
  background-image:url('../images/backgroundFooter.png');
  background-repeat:no-repeat;
  color:white;
  text-align:center;
  height:80px;
  line-height:80px;
}
div.footer p {
  font-size:14px;
  height:80px;
  line-height:80px;
}

/* Sitemap */
ol.sitemap {
  overflow:hidden;
}
ol.sitemap li {
  list-style:none !important;
}

.jcarousel-pagination a {
  float:none;
  height:auto;
}

.h2_Headline_Start h2,
.h2_Welcome h2 {
  font-size: 24px;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-bottom: 6px;
  font-weight: lighter;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 640px)
and (orientation: portrait) {

  html, body {
    font-size:16px !important;
    line-height:24px !important;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }

  p, a, li {
    font-size:1em !important;
    line-height:1em !important;
  }

  div.wrapAll {
    width: 100% !important;
    background-image:none !important;
  }
  div.branding {
    float:none !important;
    width:100%;
    text-align:center !important;
  }
  div.branding a {
    float:none !important;
    text-align:center !important;
  }
  div.branding a img {
    margin:auto !important;
  }
  div.branding a.toggleMenu {
    display:block !important;
    position:absolute;
    left:15px;
    top:30px;
  }
  div.search {
    float:none !important;
    position:relative !important;
    padding-top:20px !important;
    right:auto !important;
  }
  div.gsc-control-cse {
    width:100% !important;
  }
  ol.main {
    margin:0 !important;
    float:none !important;
    width:100%;
    display:none;
  }
  ol.main > li {
    float:none !important;
    margin:auto !important;
    background:none !important;
    width:100%;
    text-align:center;
    border-top:1px solid #4d4d4d;
  }
  ol.main > li:last-child {
    border-bottom:1px solid #4d4d4d;
  }
  ol.main > li a {
    font-size:2em !important;
    padding:20px 10px 20px 10px !important;
    text-align:center;
    width:100%;
    float:inherit !important;
  }
  ol.sub {
    position:relative !important;
    display:block !important;
    width:100%;
    top:0 !important;
    padding-top:0 !important;
  }
  ol.sub li {
    float:none !important;
    margin:auto !important;
    background:none !important;
    width:100%;
    text-align:center;
    border-top:1px solid #4d4d4d;
  }
  ol.sub li a {
    font-size:1.5em !important;
    padding:20px 10px 20px 10px !important;
    text-align:center;
    width:100%;
    float:none !important;
  }
  div.main {
    width:100% !important;
    margin-left:0 !important;
    padding:20px 0 20px 0 !important;
  }
  div.main h1 {
    font-size:3em;
  }
  div.main h1, div.main > a, div.main > div {
    padding-left:10px;
    padding-right:10px;
  }
  div.main a, div.main p, div.main li {
    font-size:2em !important;
    line-height:1.5em !important;
  }
  div.main p > a, div.main li > p {
    font-size:1em !important;
    line-height:1.5em !important;
  }
  div.main ul {
    margin-left:10px;
  }
  div.main a.link {
    background-image:none !important;
  }
  div.testimonial {
    width:100% !important;
  }
  div.contact p {
    height:auto !important;
    padding-left:0 !important;
    background:none !important;
  }
  ul.reports li {
    width:100% !important;
    float:none !important;
  }
  ul.reports li:last-child {
    border-bottom:none !important;
  }
  ul.reports li p {
    text-align:left !important;
    padding-right:10px;
  }
  ul.reports li span {
    font-size:1em !important;
    line-height:1em !important;
    padding-right:10px;
    padding-top:10px;
  }
  div.event {
    width:100% !important;
    float:none !important;
  }
  div.event h3 {
    font-size:1.5em;
    line-height:50px !important;
    background-position: 95% baseline !important;
  }
  div.footer {
    background-image:none !important;
    background-color:#ffc66c;
    height:auto !important;
  }
  div.footer p {
    font-size:2em !important;
    line-height:1.5em !important;
    height:auto !important;
    line-height:80px;
  }
  ol.footer {
    position:relative !important;
    margin:0 !important;
    float:none !important;
    width:100%;
    top:0 !important;;
    right:0 !important;
  }
  ol.footer > li {
    float:none !important;
    margin:auto !important;
    background:none !important;
    width:100%;
    text-align:center;
    border-top:1px solid #fff;
  }
  ol.footer > li a {
    float:none !important;
    font-size:2em !important;
    vertical-align:middle;
    display:block;
    padding-top:15px;
    padding-bottom:15px;
  }
  ol.socialMedia {
    top:10px !important;
    left:100px !important;
  }

}